button{
  margin-right: 10px;
}
a {
  outline: none;
  padding-left: 10px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: black;
}

li:last-child a {
  margin-right: 0;
}

a:link, a:visited, a:focus {
  background: #7590b1;
}

a:hover {
  background: orange;
}

a:active {
  background: red;
  color: white;
}
