.App {
  text-align: center;
}
.active{
  cursor: pointer;
  text-decoration: none;
  margin: 30px;
  color:red;
}
.home{
  display: flex;
  flex-direction: row;
  justify-content:center;
  font-size: 28px;
}
.navli{
  text-decoration: none;
  margin: 28px;
}
.navli:hover{
  color: red;
  text-decoration: none;
}
